/*container hero*/
.hero{
    position: relative;
    inset: 0;

    min-height: 90vh;

    background-image: url(@/app/assets/back.png);
    
    
    display: flex;
    flex-direction: column; 
    align-items: center;     
    justify-content: center; 


    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    
    
}

.bg_overlay {
  position: absolute;
  inset: 0;
 
  background: rgba(0, 0, 0, 0.5);
  z-index:1;
}



/* posição da logo */
.center_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 10vh;
}

/* ajustes na logo */
.logo{
    
    
    position: relative;
    z-index: 2;
    max-width: 850px;
    height: auto;
    
}


