/*container hero*/
.hero{
    background-image: url('@/app/assets/hero-barbershop.jpg');
    padding: 20%;
    padding-bottom: 10%;
    
    display: flex;
    flex-direction: column; 
    align-items: center;     
    justify-content: center; 


    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

/* posição da logo */
.center_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 10vh;
}

/* ajustes na logo */
.logo{
   
    max-width: 750px;
    height: auto;
    
}


