/*container da logo*/
.hero{
    background-color: red;
    padding: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* posição da logo */
.center_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 10vh;
}

/* ajustes na logo */
.logo{
   
    max-width: 750px;
    height: auto;
    
}


