/* controle do formato */
.menu{

    background-color: hsl(0, 0%, 100% / 0.8); 
    backdrop-filter: blur(12px);

    display: flex;
    justify-content: center;

    padding-left:50%;
    padding-right: 50%;
    padding-bottom: 2%;
    padding-top: 2%;
    
    z-index: 100;
    position: fixed;
    
    
}


/* list config */
.menu ul{

    list-style-type: none;
    display: flex;
    

}

.menu a{
    
    font-family: 'Outfit', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: hsl(160, 5%, 45%);
    

}

.menu a:hover{

    color: hsl(160, 25%, 35%);
}


/* itens positions & styles */


.mid_menu{

    position: absolute;
    right: 0;
    left: 0;
}

.right_menu{
      
    position: absolute;
    right: 100;
}

.left_menu{
    
    position: absolute;
    left: 50;
}



