/* MENU BASE (MOBILE FIRST) */
.menu {
  background-color: hsl(0, 0%, 100% / 0.8);
  backdrop-filter: blur(12px);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;

  padding: 1rem;

  z-index: 100;
}

/* LISTA */
.menu ul {
  list-style: none;
  display: flex;
  gap: 1.5rem; /* mobile */
  padding: 0;
  margin: 0;
}

/* LINKS */
.menu a {
  font-family: 'Outfit', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: hsl(160, 5%, 45%);
  white-space: nowrap;
}

.menu a:hover {
  color: hsl(180, 10%, 60%);
}

/* DESKTOP */
@media (min-width: 768px) {
  .menu {
    padding: 1.5rem 3rem;
  }

  .menu ul {
    gap: 4rem;
  }

  .menu a {
    font-size: 0.875rem;
  }
}
