.about {
  display: flex;
  align-items: center;
  height: 100vh;
}


.imageWrapper {
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
  
}


.textContent {
  display: flex;
  flex-direction: column;
  text-align:left;
  padding-left: 5%;
  
}
