.about {
  display: flex;
  align-items: center;
  gap: 4rem;
}


.imageWrapper {
  display: flex;
  justify-content: flex-start;
}


.textContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  text-align: right;
}
