.local{
  background: hsl(160, 10%, 97%);
  display: flex;
  padding: 5%;
  padding-left: 5%; 
  gap:40px;
   
}
.localbox{

  display: flex;
  flex-direction:column;
  text-align:left;
  width: 56%;
  

  gap: 20px;
  
}
.map{
  width: 50%;
}

.infoimage{

  height: 10vh;
}
  
