.service_body {
  background: hsl(160, 10%, 97%);
  padding: 5% ;
}

.service {
  display: flex;

  justify-content: center;
 
}

/* CADA COLUNA */
.colum {
  display: flex;
  
}


@media (min-width: 450px) {
  .service {
    flex-wrap: wrap;
  }

  .colum {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .colum > div {
    
    max-width: 120px;
  }
}
@media (min-width: 1024px) {
  .colum > div {
    max-width: 280px; /* aumentou de 120px para 220px */
    height: 240px;    /* define altura maior */
  }

  .colum {
    gap: 2.5rem; /* mais espaço entre as caixas */
  }
}


